html, body{
  height: 100%;
}
body {
   background: -webkit-gradient(linear,left top, right bottom,from(#00aaff), to(#99ffcc));
   background: -webkit-linear-gradient(top left,#00aaff, #99ffcc);
   background: -moz-linear-gradient(top left,#00aaff, #99ffcc);
   background: linear-gradient(to bottom right,#00aaff, #99ffcc);
  -moz-background-size: 2400px;
       background-size: 2400px;
  background-repeat: no-repeat;
}
#title{
  text-align: center;
  color: #333333;
  font-family: 'Sonsie One', cursive;
}
#calculator{
  width: 350px;
  height: 457px;
  -webkit-border-radius: 12px;
     -moz-border-radius: 12px;
          border-radius: 12px;
  Background: linear-gradient(#b3b3b3 95%, #8c8c8c , #cccccc);
  -webkit-box-shadow: 0 4px 8px 0 #4d4d4d, 0 6px 20px 0 #999999;
     -moz-box-shadow: 0 4px 8px 0 #4d4d4d, 0 6px 20px 0 #999999;
          box-shadow: 0 4px 8px 0 #4d4d4d, 0 6px 20px 0 #999999;
  border: 2px solid #999999;
  margin-top:  5%;
  margin-left: auto;
  margin-right: auto;
}
#screen{
  height: 75px;
  width: 300px;
  background: #b3cccc;
  margin-left: auto;
  margin-right: auto;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  border: 2px solid #999999;
  padding-right: 10px;
}
#screenRow1{
  font-family: 'Play', sans-serif;
  color: #334d4d;
  text-align: right;
  font-size: 45px;
  height: 4px;
  margin-top: 0px;
}
#screenRow2{
  font-family: 'Play', sans-serif;
  color: #527a7a;
  text-align: right;
  font-size: 22px;
  height: 5px;
  margin-top: 1px;
}

.button{
  display: inline-block;
  min-width: 50x;
  width: 70px;
  min-height: 20px;
  height: 40px;
  padding:5px 10px;
  Background: linear-gradient(#c2c2d6 94%, #d1d1e0 , #e0e0eb);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  font-size: 20px;
}

button:focus {outline:0;}

.marginFix{
  margin-left: 1px; 
}
#zero{
  display: inline-block;
  min-width: 50x;
  width: 145px;
  padding:5px 10px;
}
#equals{
  position: absolute;
  display: inline;
  min-width: 50x;
  width: 70px;
  min-height: 25px;
  height: 85px;
  padding:5px 10px;
}

#decimal{
  margin-left: ;
}
.topRow{
  margin-top: 25px;
}

.leftRow{
  margin-left: 27px;
}

.footer{
  text-align: center;
  font-family: 'Sonsie One', cursive;
  font-size: 13px;
}